<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>fanSTATStic - Easy Draft Research </title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>



    <!-- Plugin CSS -->
    <link href="../public/assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../public/assets/css/creative.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <!-- Style CSS -->
    <style>
        #siteLogo {
          margin: 0;
          padding: 0;
          width: 12%;
          height: auto;
        }

        #siteNameLogo {
          font-family: 'Lobster', cursive;
          font-size: 30px;
          /*color: #E16f31;*/
          text-transform: none;
          padding-top: 0px;
        }

        .socialMedia {
        	width: 40px;
        	height: 40px;
        	margin: 5px;
        }

    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <!-- navbar and the logo -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">   <!-- navbar container-fluid -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" id="siteNameLogo" href="#page-top"><span><img id="siteLogo" src="../public/assets/img/logo.png"> fanSTATStic</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> <!-- navbar-collapse -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#howItWorks">How It Works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sports">Sports</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/signup">Sign Up</a>
                    </li>
                </ul>
            </div> <!-- closing navbar-collapse -->
        </div> <!-- closing navbar container-fluid -->
    </nav> <!-- closing navbar -->

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Dominate Your Fantasy League </h1>
                <hr>
                <p>Premium Research Tools to Get You Ready For Your Fantasy League Draft.
                <br>Draft like a General Manager of Professional Sports Team.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Stats to compare your favorite players with other players, to help you make better decisions on your big draft day.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="howItWorks">
        <div class="container"> <!-- Heading Container -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How It Works</h2>
                    <hr class="primary">
                </div>
            </div>
        </div> <!-- closing heading container -->

        <div class="container"> <!-- container for steps -->
            <div class="row">

                <!-- step 1 -->
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Select Players</h3>
                        <p class="text-muted">Select two players to compare. Registered users can select upto 10 players to compare.</p>
                    </div>
                </div>

                <!-- step 2 -->
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Compare Stats</h3>
                        <p class="text-muted">Compare players with up to date stats.</p>
                    </div>
                </div>

                <!-- step 3 -->
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Make Decision</h3>
                        <p class="text-muted">Draft players based on stats.</p>
                    </div>
                </div>
            </div> <!-- closing steps row -->
        </div> <!-- closing container for steps -->
    </section> <!-- closing how it works sections -->

    <section id="sports">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">

                <!-- NFL -->
                <div class="col-lg-4 col-sm-6">
                    <a href="../public/assets/img/portfolio/fullsize/A.jpg" class="portfolio-box">
                        <img src="../public/assets/img/portfolio/thumbnails/A.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    NFL DRAFT TOOLS
                                </div>
                                <div class="project-name">
                                    AVAILABLE NOW
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- NBA -->
                <div class="col-lg-4 col-sm-6">
                    <a href="../public/assets/img/portfolio/fullsize/B.jpg" class="portfolio-box">
                        <img src="../public/assets/img/portfolio/thumbnails/B.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    COMING SOON
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- MLB -->
                <div class="col-lg-4 col-sm-6">
                    <a href="../public/assets/img/portfolio/fullsize/C.jpg" class="portfolio-box">
                        <img src="../public/assets/img/portfolio/fullsize/C.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    COMING SOON
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div> <!-- closing sports section gallery-->
        </div> <!-- closing sports section container-->
    </section> <!-- closing sports section  -->

    <div class="container-fluid bg-dark" id="contact"> <!-- footer row -->
        <div class="row"> <!-- footer row -->
            <div class="col-sm-12 col-md-3  col-md-offset-1 col-lg-3 col-lg-offset-1"> <!-- footer col 1 -->
                <p><a href="FAQs.html">FAQs</a></p>
                <p><a href="intlship.html">Tools</a></p>
                <p><a href="refund.html">Refund Policy</a></p>
                <p><a href="contact.html">Terms of Service</a></p>
            </div> <!-- closing footer col 1 -->

            <div class="col-sm-12 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1"> <!-- footer col 2 -->
                <div class="row">
                    <h2 class="section-heading text-center">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>We are friendly and available to answer your questions, concerns and suggestions. Call or send us an email anytime, and we will happily reply back as soon as possible.</p>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <p><i class="fa fa-phone fa sr-contact"></i>123-456-6789</p>
                    </div>

                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <p><i class="fa fa-envelope-o fa sr-contact"><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></i><p>
                    </div>

                    <div class="col-sm-12 col-md-4 col-lg-4">
                      <p><a href="#"><img class="socialMedia" src="../public/assets/img/facebook.png"></a>
                      <a href="#"><img class="socialMedia" src="../public/assets/img/linkedin.png"></a>
                      <a href="#"><img class="socialMedia" src="../public/assets/img/twitter.png"></a></p>
                    </div>
                </div>
            </div> <!-- closing footer col 3 -->

        </div> <!-- closing footer row -->

        <div class="row"> <!-- footer row -->
                <div class="col-sm-12 col-md-10 col-md-offset-1"> <!-- footer col 1 -->
                    <h4 class="text-center footer-copyright"> &#169; Copyright 2017 FANSTATSTIC</h4>
                </div> <!-- closing footer col 1 -->
        </div> <!-- closing footer row -->
    </div> <!-- closing footer -->

    <!-- jQuery -->
    <script src="../public/assets/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../public/assets/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../public/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../public/assets/js/creative.min.js"></script>

</body>

</html>
