<div class="container">
    <div class="logo">
        <a href="/">
            <img id="logo_img" src="assets/img/logo.png">
        </a>
    </div>

    {{#if errors}}

    <div class="alert alert-danger">{{error}}</div>

    {{/if}}


    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4" id="loginform">
            <div>
                <h2>Login to your account!</h2>
            </div>

            <hr>

            <a href="/auth/google" class="btn btn-warning"><span class="fa fa-google"></span>Gmail login</a>
            <br><br>
            <p>More Login option will be available soon.</p>
        </div>

        <div class="col-md-4"></div>

    </div>

    <div class="copyright">
        2017 &copy; Fanstatstic, Inc.
    </div>
