<div class="container">
    <div class="logo">
        <a href="/">
            <img id="logo_img" src="assets/img/logo.png">
        </a>
    </div>
    <div class="row">
        <div class="col-md-4"></div>

            <div class="col-md-4" id="loginform">
                 <div >
                    <h2>Login to your account!</h2>
                </div>

            <form>
            <div class="form-group"><span class="fa fa-envelope"></span>
            <label for="Email">Email</label>
            <input type="text" class="form-control" name="username" placeholder="Email">
            </div>
            <div class="form-group"><span class="fa fa-lock"></span>
            <label for="Password">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password">
            </div>
            <label><input name="remember_me" type="checkbox">Remember me</label>
            <button type="submit" class="btn btn-default">login</button>
        </form>
        <hr>
        
        <i href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Facebook login</i>
        <br><br>
        
        <a href="/auth/google" class="btn btn-warning"><span class="fa fa-google"></span>Gmail login</a>
        <br><br>
        <p>Do not have an account?
        <a href="/signup">Open an account here!</a></p>
        </div>

        <div class="col-md-4"></div>

    </div>

    <div class="copyright">
        2017 &copy; Fanstatstic, Inc.
    </div>
