<div class="container">
    <div class="logo">
        <a href="/">
            <img id="logo_img" src="assets/img/logo.png">
        </a>
    </div>


    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6" id="signupform">

            <h2>Signup</h2>
            <br>

            <form action="/signup" method="post">

                <div class="form-group"><span class="fa fa-envelope"></span>
                    <label for="Email">Email</label>
                    <input type="text" class="form-control" name="username" placeholder="Email">
                </div>

                <div class="form-group"><span class="fa fa-lock"></span>
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>

                <div class="form-group"><span class="fa fa-lock"></span>
                    <label for="Password">Confirm Password</label>
                    <input type="password" class="form-control" name="password2" placeholder="Password">
                </div>

                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" name="firstname" placeholder="First Name">
                </div>

                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="Birthdate">Birthdate(mm/dd/YY)</label>
                    <input type="text" class="form-control" name="Birthdate" placeholder="Birthdate">
                </div>
                <hr> By clicking Sign Up, you agree to our
                <a href="/terms-of-use/">Terms of Service</a> and <a href="/privacy/">Privacy Policy</a>
                <hr>
                <button class="login btn btn-warning"><a href="/login">login</a></button>
                <button type="submit" class="signup btn btn-primary">Signup</button>
            </form>
        </div>

        <div class="col-md-3"></div>
    </div>

    <div class="copyright">
        2017 &copy; Fanstatstic, Inc.
    </div>