#siteLogo {
  margin: 0;
  padding: 0;
  width: 12%;
  height: auto;
}

#siteNameLogo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  /*color: #E16f31;*/
  text-transform: none;
  padding-top: 0px;
}

.socialMedia {
	width: 40px;
	height: 40px;
	margin: 5px;
}
